header{
   display:flex;
   align-items:center;
   padding:6px 10px;
   justify-content:space-between;
   position:fixed;
   z-index:10000;
   top:10px;
   left:50%;
   transform:translateX(-50%);
   background-color: rgba(255, 255, 255, 0.2); /* opacity only on background */
   backdrop-filter: blur(10px);
   width:80%;
}
.navs{
   display:flex;
   align-items:center;
   gap:8px;

}
header h1{
   font-size:28px;
   font-family:var(--geist-sans);
   font-weight:700;
}
 header button{
   padding:10px 14px;
   font-size:16px;
   font-family:var(--geist-mono);
   font-weight:700;
   background-color:var(--primary);
   border:2px solid var(--highlight);
   color:var(--backPrimary);
   cursor:pointer;
   border-radius:2px;
}
header button:hover{
   background-color:var(--highlight);
   transition:0.3s all ease-in-out;
   border:2px solid var(--primary);
   color:var(--backPrimary);
}
header a{
   color:inherit;
   text-decoration:none;
   display:flex;
   gap:2px;
}